DB_NAME=
DB_USER=
DB_PASSWORD=

URL_FRONT=
URL_BACK=

SPRING_DATASOURCE_URL=
SPRING_DATASOURCE_USERNAME=
SPRING_DATASOURCE_PASSWORD=
SPRING_JPA_HIBERNATE_DDL_AUTO=

EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=