# --- JAVA / SPRING BOOT ---
**/target/
**.class
**/mvnw
**/mvnw.cmd
**/.mvn/wrapper/maven-wrapper.properties
*.p12

# --- IDEs (IntelliJ, Eclipse, VS Code) ---
**/.idea/
**/*.iml
**/.settings/
**/.classpath
**/.project
**/.factorypath
**/.vscode/

# --- SISTEMA OPERATIVO ---
.DS_Store
Thumbs.db

# --- FRONTEND ---
**/node_modules/
**/dist/
.env

# --- OTROS ---
*.log
temp/


rutinafit_frontend_backup/